---
import Layout from "../layouts/Layout.astro";
import { API_URL } from "../utils/constants";

try {
	const token = Astro.cookies.get("token")?.value;
	const response = await fetch(API_URL + "refresh", {
		headers: {
			"Content-Type": "application/json",
			Authorization: `Bearer ${token}`,
		},
		credentials: "include",
	});
	const data = await response.json();
	if (!data.error) return Astro.redirect("/main");
} catch (error) {
	console.log("User not logged");
}
---

<Layout title="Welcome to astroPics">
	<main class="flex flex-col justify-center items-center h-full">
		<h1 class="text-violet-600">astroPics</h1>
		<article class="flex justify-center items-center gap-4">
			<a href="/login" class="text-violet-500">Login</a>
			<p>or</p>
			<a href="/register" class="text-violet-500">Register</a>
		</article>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: 100%;
		color: white;
		font-size: 20px;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
