---
import { Icon } from "astro-icon/components";
---

<main class="flex justify-evenly items-center bg-violet-600">
    <Icon name="homeIcon" />
    <a href="/upload"><Icon name="addPhotoIcon" /></a>
    <Icon name="profileIcon" />
</main>

<style></style>
